@charset "UTF-8";
/*Configurações da div jogo*/
#jogo {
    width: 603px;/*Definindo largura*/
    height: 600px;/*Definindo altura*/
    border: solid 3px black; /*Criando borda*/
}
/*Configurações da class linha*/
.linha {
    height: 200px;
    border-bottom: solid 1px black;
}
/*Configurações da class casa*/
.casa {
    width: 200px;
    height: 100%;
    border-right: solid 1px black;
    float: left;
}

main {
    display: flex;
    flex-direction: column;
    background: white; /*Definindo cor de fundo do elemento*/
    width: 80vw;/*Definindo o elemento com 80% da Largura*/
    max-width: 600px; /*Definindo a largura máxima do elemento*/
    padding: 20px; /*Definindo distância dos elementos para borda*/
    border-radius: 10px;/*Arredondando as bordas do elemento*/
    align-items: center;/*Alinhando itens ao centro*/
    box-shadow: 0px 0px 10px rgb(0, 0, 0.450);/*Criando sombreamento*/
}

body {
    display: flex; /*Tornando o container flexivel*/
    flex-direction: column; /*Definindo a direção do itens do container*/
    justify-content: center; /*Definindo espaços entre e ao redor dos itens ao centro*/
    align-items: center; /*Alinhando itens ao centro*/
    background-color:#5f2c82;/*Definindo cor de fundo*/
    width: 100%;/*Definindo largura*/
    height: 100%;/*Definindo altura*/
    background-image: linear-gradient(to top, #49a09d, #5f2c82); /*gradiente linear ao fundo*/
    font: normal 13pt Arial;/*Definindo a fonte*/
    text-align: center;/*Alinhanto texto ao centro*/  
}